<ng-container *ngIf="hospitalInfo !== undefined">
    <div class="card">
        <div class="card-header">
            {{'profile.hospital.header' | translate}}
        </div>
        <div class="card-body">
            <div>{{'profile.hospital.name' | translate}}: {{hospitalInfo.name}}</div>
            <div>{{'profile.hospital.address' | translate}}: {{hospitalInfo.address}}</div>
        </div>
        <div class="card-footer d-flex gap-1">
            <a class="btn btn-primary" [routerLink]="['/hospitals/'+hospitalId]">{{'common.details' | translate}}</a>
        </div>
    </div>
</ng-container>
