<ng-container *ngIf="hospitalInfo !== undefined">
    <div class="card">
        <div class="card-header">
            Your hospital info
        </div>
        <div class="card-body">
            <div>Name: {{hospitalInfo.name}}</div>
            <div>Address: {{hospitalInfo.address}}</div>
            <div>Doctors: {{hospitalInfo.doctorsCount}}</div>
            <div>Patients: {{hospitalInfo.patientsCount}}</div>
        </div>
        <div class="card-footer d-flex gap-1">
            <a class="btn btn-primary" [routerLink]="['/hospitals/'+hospitalId]">Details</a>
        </div>
    </div>
</ng-container>
