<app-header></app-header>
<main>
    <div class="container">
        <div class="row">
            <h2 class="col-12 mb-3">
                {{'doctors.header' | translate}}
            </h2>
            <div class="col-12 mb-3">
                <a [routerLink]="['create']" class="btn btn-primary">{{'common.add' | translate}}</a>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let doctor of doctors">
                <div class="col-6 gap-1">
                    <div class="card mb-3">
                        <div class="card-header">
                            {{doctor.firstName}} {{doctor.lastName}}
                        </div>
                        <div class="card-body">
                            <div>{{'user.email' | translate}}: {{doctor.email}}</div>
                            <div>{{'user.phone' | translate}}: {{doctor.phone}}</div>
                            <div>{{'user.dob' | translate}}: {{doctor.birthDate}}</div>
                        </div>
                        <div class="card-footer">
                            <a [routerLink]="[doctor.id]" class="btn btn-primary">{{'common.details' | translate}}</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</main>
