<app-header></app-header>
<main>
    <div class="container">
        <div class="row mb-3">
            <h2 class="col-12">
                {{'hospitals.header' | translate}}
            </h2>
            <div class="col-12">
                <a [routerLink]="['create']" class="btn btn-primary">{{'common.add' | translate}}</a>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let hospital of hospitals">
                <div class="col-6 gap-1">
                    <div class="card mb-3">
                        <div class="card-header">
                            {{hospital.name}}
                        </div>
                        <div class="card-body">
                            <div>{{'profile.hospital.address' | translate}}: {{hospital.address}}</div>
                            <div>{{'hospitals.doctors-count' | translate}}: {{hospital.doctorsCount}}</div>
                            <div>{{'hospitals.patients-count' | translate}}: {{hospital.patientsCount}}</div>
                        </div>
                        <div class="card-footer">
                            <a [routerLink]="[hospital.id]" class="btn btn-primary">{{'common.details' | translate}}</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</main>
