<app-header></app-header>
<main>
    <div class="container">
        <div class="row">
            <h2 class="col-12 mb-3">
                {{'hospital-administrator-view.header' | translate}}
            </h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        {{hospitalAdministratorInfo.firstName}} {{hospitalAdministratorInfo.lastName}}
                    </div>
                    <div class="card-body">
                        <div>{{'profile.personal.email' | translate}}: {{hospitalAdministratorInfo.email}}</div>
                        <div>{{'profile.personal.phone' | translate}}: {{hospitalAdministratorInfo.phone}}</div>
                        <div>{{'profile.personal.dob' | translate}}: {{hospitalAdministratorInfo.birthDate}}</div>
                    </div>
                    <div class="card-footer">
                        <a [routerLink]="['edit']" class="btn btn-primary">{{'common.edit' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
