<app-header></app-header>
<main>
    <div class="container">
        <div class="row">
            <h2 class="col-12 mb-3">
                Hospital administrator profile
            </h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        {{hospitalAdministratorInfo.firstName}} {{hospitalAdministratorInfo.lastName}}
                    </div>
                    <div class="card-body">
                        <div>Email: {{hospitalAdministratorInfo.email}}</div>
                        <div>Phone: {{hospitalAdministratorInfo.phone}}</div>
                        <div>Birth date: {{hospitalAdministratorInfo.birthDate}}</div>
                    </div>
                    <div class="card-footer">
<!--                        <a [routerLink]="['/hospital-administrators/' + hospitalAdministratorInfo.id]"-->
<!--                           class="btn btn-primary">Details</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
